body{
  width: 100%;
  padding: 0;
  margin:0;
  background-size: cover;
  background-color: #CDD6D5;
}
header{
  color: white;
  padding-top: 0px;
  background-color: #233656;
  height: 10vw;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

#hbilde {
  height: 9vw;
  display: inline-block;
}

.leftcenter{
  position: absolute;
  top: 0.5vw;
  text-align: justify;
  font-family: 'Lobster', cursive;
  font-size: 5vw;
  margin-bottom: 2vw;
  padding: 1vw;
  margin-left: 3vw;
  margin-top: 0vw;
  display: inline-block;
}
h1 {
  text-align: center;
  font-size: 3vw;
}



/*NAVBAR*/

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    left: 40vw;
    top: 2vw;
    font-size: 2vw;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2vw; 2vw;
    text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}
a{
  color: inherit;
  text-decoration: none;
}

/*About Page*/

.about-div {
  font-family: 'Playfair Display', serif;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.maindiv {
  padding-top: 12%;
}

.about-header {
  font-size: 2.7em;
  margin-bottom: 5%;
}

.horizontal-line {
  width: 85%;
  height: 5%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1.5px solid #233656;
  margin-top: 3%;
  margin-bottom: 2%;


}

.about-container {
  margin-bottom: 5%;
  line-height: 1.4;
  font-size: 1.3em;
}

.questions-header {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1%;
}
