body{
  width: 100%;
  background-size: cover;
  padding: 0;
  margin:0;
  background-image: url("../bilder/newspaper.png");
  background-size: 30%;
  background-color: #836953;
}
header{
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 42px;
  text-align: center;
  background-image: url("../bilder/bakgrunn.jpg");
  padding-top: 1px;
  margin-bottom: 0px;
  border-bottom: 2px solid white;

}
.logginnknapp{
  height: 30px;
  background:#f96f2f;
  border:0;
  padding:7px 20px 0px 20px;
  color:#ffffff;
  -webkit-appearance: button;
   -moz-appearance: button;
   appearance: button;
   text-decoration: none;
   color: initial;
   border-radius: 5px;
   border: 1px solid brown;
}
.logginnknapp:hover{
  color: white;
  background: black;
}

.container{
  text-align: center;
  background-color: black;
  width: 25%;
  margin: 0 auto;
  padding: 25px 20px 100px 20px;
  height: 100%;
  margin-top: 30px;
  color: white;
  border-radius: 10px;
}

#meny {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 20%;
  background-color: black;
  color: white;
  margin: 0;
}

.rad1, .rad2{
  display: inline-block;
  border: 2px solid black;
  width: 23%;
  background-color: grey;
  left: 20%;
  float: right;
  margin: 1.5%;
}
.rad2 {
  top: 70%;
}

.bilde {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
}

.options {
  padding-top: 10%;
  padding-bottom: 10%;
  margin: 0;
}
.options:hover {
  background-color: gray;
}


#overlay1 {
  display: none;
}
#overlay2 {
  display: none;
}
#overlay3 {
  display: none;
}
#overlay4 {
  display: none;
}
#overlay5 {
  display: none;
}
#overlay6 {
  display: none;
}

.overlayInner {
    position: fixed;
    width: 60%;
    height: 70%;
    top: 25%;
    left: 25%;
    right: 0;
    bottom: 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 3;
}

#lukkVindu1, #lukkVindu2, #lukkVindu3, #lukkVindu4, #lukkVindu5, #lukkVindu6{
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  width: 10%;
  text-align: center;
  float: right;
  text-decoration: none;
  color: initial;
  margin-right: 10px;
}
