  body{
    width: 100%;
    padding: 0;
    margin:0;
    background-size: 30%;
    background-color: #CDD6D5;
    font-family: sans-serif;
     {margin:0;}
  }
  header{
    color: white;
    padding-top: 1vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../bilder/newspaper.png");
    background-color: #233656;
  }
  .leftcenter{
    text-align: justify;
    font-family: 'Lobster', cursive;
    font-size: 6vw;
    margin-bottom: 5vw;
    padding: 2vw;
    margin-left: 15vw;
    margin-top: .5vw;
  }
  .logginnknapp{
    display: inline-block;
    height: 4vw;
    padding: 0 4vw;
    border-radius: 2vw;
    font-weight: 700;
    font-size: 1vw;
    line-height: 4vw;
    box-sizing: border-box;
    text-transform: uppercase;
    align-self: left;
    background-color:#233656 ;
    color: white;
    position: relative;
    overflow: hidden;
  }
  .logginnknapp:hover{
    background-color: #7B9BA6;
  }
  a{
    color: inherit;
    text-decoration: none;
  }
  input{
    width: 50%;
    padding: 1vw 2.5vw;
    margin: .5vw 0;
    box-sizing: border-box;
    border: none;
    border-bottom: .15vw solid #233656;
  }
  .container{
    text-align: center;
    background-color: #415B76;
    width: 35vw;
    margin: 0 auto;
    padding: 2vw 2vw 3vw 2vw;
    margin-top: 3vw;
    color: white;
    border-radius: 2vw;
  }
  input[type="checkbox"]{
    margin-right: 20px;
  }
  #register{
    float: left;
    font-size: 1vw;
    margin: 5px 0 5px 20px;
  }
  #glemtpassord{
    float: right;
    font-size: 1vw;
    margin: 5px 0 5px 20px;
  }
  .signupbutton{
  text-decoration: none;
  }
  .signupbutton:hover{
    text-decoration: underline white;
  }

/* NAVBAR */
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: #7B9BA6;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover {
    text-decoration: underline 5px black;
  }
